<mat-toolbar class="navbar" color="accent">
<div>LustNight</div>
<div>
  <span>Services</span>
  <span>Feedback</span>
  <span>Join Us</span>
  <span>About Us</span>
</div>
</mat-toolbar>

<mat-carousel slides=3 interval=1500>
  <mat-carousel-slide image="../assets/img/lake.jpg">
  </mat-carousel-slide>
  <mat-carousel-slide image="../assets/img/sunset.jpg">
  </mat-carousel-slide>
  <mat-carousel-slide image="../assets/img/landscape.jpg">
  </mat-carousel-slide>
</mat-carousel>


<router-outlet></router-outlet>